# public
AIRTABLE_BASE_ID="YOUR_AIRTABLE_BASE_ID"
AIRTABLE_TABLE_ID="YOUR_AIRTABLE_TABLE_NAME"
TALLY_ID_FIELD_NAME="YOUR_TALLY_ID_FIELD_NAME"
PAYMENT_STATUS_FIELD_NAME="YOUR_PAYMENT_STATUS_FIELD_NAME"

# private
AIRTABLE_API_KEY="YOUR_AIRTABLE_API_KEY"
STRIPE_WEBHOOK_SECRET="YOUR_STRIPE_WEBHOOK_SECRET"
STRIPE_API_KEY="YOUR_STRIPE_API_KEY"
